# Configurações do Supabase
SUPABASE_URL=https://uflheoknbopcgmzyjbft.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Configurações do Gemini
API_KEY=

# Segurança Webhook Inbox
INBOX_API_KEY=
