/* REMOVIDO: @import "tailwindcss"; */

/* SEU CSS */
svg {
  display: inline-block;
  vertical-align: middle;
}

svg:not([class*="w-"]) {
  width: 1.5rem;
  height: 1.5rem;
}

img, svg {
  max-width: 100%;
  height: auto;
}

body {
  background-color: white;
  color: #0f172a;
}

.dark body {
  background-color: #0f172a;
  color: #f1f5f9;
}
