@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  display: inline-block;
  vertical-align: middle;
}

svg:not([class*="w-"]) {
  width: 1.5rem;
  height: 1.5rem;
}

img, svg {
  max-width: 100%;
  height: auto;
}

/* Estilo do body sem @apply */
body {
  background-color: #ffffff;
  color: #0f172a;
}

.dark body {
  background-color: #0f172a;
  color: #f1f5f9;
}
